.searchbox {
    display: flex;
    padding-right: 12px;
    justify-content: space-between;
    align-items: flex-end;
    align-self: stretch;
    margin: 0;
}

.search-form {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    flex: 1 0 0;
}

.searchbox label {
    display: flex;
    width: 120px;
    height: 58px;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.searchbox a {
    color: var(--text-ico-ns-default, rgba(0, 0, 0, 0.85));

    /* Regular [ 400 ]/r-s- */
    font-family: "SF Pro";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.inputbox {
    display: flex;
    padding: 0px 8px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: var(--Border-corners--default-, 4px);
    border: 1px solid var(--Line-default, rgba(0, 0, 0, 0.15));
    background: var(--Background-block, rgba(255, 255, 255, 0.80));
    
    /* BG Blur */
    backdrop-filter: blur(50px);
    color: var(--text-ico-ns-tips-default, rgba(0, 0, 0, 0.30));

    /* Regular [ 400 ]/r-default- */
    font-family: "SF Pro";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

#searchbtn {
    width: 36px;
    padding: 8px 10px;
    svg {
        fill: white;
        width: 16px;
        height: 16px;
    }
}