body, html {
    padding: 0; 
    margin: 0 auto;
    font-family: SF Pro, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

.lightbox {
    background-color: rgb(0,0,0,.7);
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

/* 内容正式开始 */


/* TOP BAR */
    .topbar {
        display: flex;
        padding: var(--Padding-XXXS, 4px) var(--Padding-XXXS, 4px) var(--Padding-XXXS, 4px) var(--Padding-XL, 24px);
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        background: var(--Background-main_frame, #222);
        height: 55px;

        p {
            color: var(--text-ico-ns-default, rgba(255, 255, 255, 0.80));

            /* Light [ 300 ]/l-default- */
            font-family: "SF Pro";
            font-size: 14px;
            font-style: normal;
            font-weight: 274;
            line-height: 20px; /* 142.857% */
        }

        button {
            display: flex;
            width: 44px;
            height: 44px;
            padding: 8px 12px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: var(--Border-corners--default-, 4px);
            color: white;
            background: none;
            border: none;
        }

        button:hover {
            background-color: rgb(255,255,255,.1);
        }

    }

    /* 图片盒子 */
    .imgbox {
        display: flex;
        padding: var(--Padding-Default, 16px) var(--Padding-XL, 24px);
        justify-content: space-between;
        align-items: center;
        flex: 1 0 0;
        align-self: stretch;

        /* 页码按钮 */
        .turnpage-btns {
            display: flex;
            width: 44px;
            height: 44px;
            padding: var(--Padding-XS, 8px) 10px;
            justify-content: center;
            align-items: center;
            gap: var(--Padding-XS, 8px);
            flex-shrink: 0;
            border-radius: 44px;
            background: var(--Grayscale-G-10, #E5E5E5);
            border: none;
        }
        .turnpage-btns:hover {
            background: var(--Background-Button-second_hover, rgba(0, 0, 0, 0.95));
            color: white;
            svg {
                stroke: white;
            }
        }

        /* 图片 */
        .img-full {
            display: flex;
            max-width: 1200px;
            max-height: 800px;
            justify-content: center;
            align-items: center;
            align-self: center;
            background-color: #ff0000;
            border: 1px solid;
            
            img {
                width: 100%;
                height: 100%;
                display: none;
            }
        }
    }

    /* 图片组 */
    .imgroup {
        display: flex;
        padding: var(--Padding-Default, 16px) var(--Padding-XL, 24px);
        justify-content: center;
        align-items: center;
        gap: var(--Padding-XS, 8px);
        align-self: stretch;
        color: #E5E5E5;
        background-color: #222;
        
        /* 封面 */
        .img-thumbnail {
            display: flex;
            width: 72px;
            height: 72px;
            padding: var(--Padding-XXXS, 4px);
            align-items: flex-start;
            flex-shrink: 0;
            border-radius: var(--Border-corners--middle-, 8px);
            background-color: #ae2727;
        }

        .img-thumbnail:hover {
            box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.25) inset;
        }
    }
