.btn-primary{
    display: inline-flex;
    height: 36px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: var(--btn-Primary-Colors-Normal);
}
.btn-primary:hover {
    background-color: var(--btn-Primary-Colors-Hover);
    cursor: pointer;
}

.btn-default{
    display: inline-flex;
    height: 36px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    background:none;
    border: none;
    border-radius: 4px;
}
.btn-default:hover {
    background-color: var(--btn-hover);
    cursor: pointer;
}

.btn-ghost{
    display: inline-flex;
    height: 36px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1.5px solid var(--Border-Normal);
    background: none;
}

.btn-ghost:hover {
    background-color: var(--btn-hover);
    cursor: pointer;
}


.avatar {
    display: flex;
    width: 36px;
    height: 36px;
    padding: 2px;
    align-items: flex-start;
    border-radius: 100px;
    background: var(--Border-Normal);
    box-sizing: border-box;
    flex-shrink: 0;
}
.avatar:hover {
    background: var(--Border-Click);
    cursor: pointer;
}
.avatar img {
    align-self: stretch;
    border-radius: 100px;
    border: 2px solid var(--General-Contrast);
    width: 100%;
    height: auto;
}