html, body {
    display: flex;
    width: 100%;
    min-width: 1024px;
    height: 100%;
    flex-direction: column;
    align-items: center;
    gap: 52px;
}

.doc-head {
    display: flex;
    width: 100%;
    height: 52px;
    padding-right: 24px;
    align-items: center;
    gap: 24px;
    flex-shrink: 0;
    box-sizing: border-box;
    border-bottom: 1px solid var(--Divider-Normal);
    background: var(--BG-Normal);
    backdrop-filter: blur(50px);
}

    .doc-head-left {
        display: flex;
        align-items: center;
        gap: 24px;
        flex: 1 0 0;
        align-self: stretch;
    }

        .doclist-btn {
            display: flex;
            width: 52px;
            padding: 4px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-right: 1px solid var(--Divider-Normal);
            box-sizing: border-box;
        }

        .doclist-btn button {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }

        .doc-head-name {
            font-size: 1.33333rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

    .doc-head-logo {
        cursor: pointer;
    }

    .doc-head-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
        flex: 1 0 0;
        align-self: stretch;
    }

        .doc-head-editorinfo {
            display: flex;
            align-items: center;
            gap: 4px;
        }

            .avatar-group {
                display: flex;
                align-items: center;
            }

            .avatar-group-list {
                margin-left: -12px; 
            }

            .doc-head-editorinfo button {
                font-size: 0.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 0 12px;
            }

            .doc-head-btns {
                flex-shrink: 0;
            }


.doc-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    overflow: hidden;
    position: relative;
}

    .doc-catalog {
        display: flex;
        width: 240px;
        height: 100%;
        padding: 0px 0px 0px 24px;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        overflow: scroll;
        position: absolute;
        left: 0;
        top: 0;
    }

    .page-center {
        display: flex;
        padding: 0px;
        justify-content: center;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
        overflow: scroll;
        box-sizing: border-box;
    }

        .article-content {
            display: flex;
            max-width: 1072px;
            flex-direction: column;
            align-items: flex-start;
            gap: 52px;
            align-self: stretch;
            padding: 0px 264px;
        }

    .anchor-points {
        display: flex;
        width: 240px;
        height: 100%;
        padding: 0px 24px 0px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        align-self: stretch;
        overflow: scroll;
        position: absolute;
        right: 0;
        top: 0;
    }

    .anchor-points::-webkit-scrollbar, .doc-catalog::-webkit-scrollbar {
        display: none;
    }