.btn-primary{
    display: inline-flex;
    height: 36px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: var(--btn-Primary-Colors-Normal);
}
.btn-primary:hover {
    background-color: var(--btn-Primary-Colors-Hover);
}

.btn-default{
    display: inline-flex;
    height: 36px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    background:none;
    border: none;
    border-radius: 4px;
}
.btn-default:hover {
    background-color: var(--btn-hover);
}

.btn-ghost{
    display: inline-flex;
    height: 36px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1.5px solid var(--Border-Normal);
    background: none;
}

.btn-ghost:hover {
    background-color: var(--btn-hover);
}