html, body {
    display: flex;
    width: 100%;
    min-width: 1024px;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.doc-head {
    display: flex;
    width: 100%;
    height: var(--space-xllll);
    padding-right: var(--space-m);
    align-items: center;
    gap: var(--space-m);
    flex-shrink: 0;
    box-sizing: border-box;
    border-bottom: 1px solid var(--Divider-Normal);
    background: var(--BG-Normal);
    backdrop-filter: blur(50px);
}

    .doc-head-left {
        display: flex;
        align-items: center;
        gap: var(--space-m);
        flex: 1 0 0;
        align-self: stretch;
    }

        .doclist-btn {
            display: flex;
            width: var(--space-xllll);
            padding: var(--space-xxxs);
            justify-content: center;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            border-right: 1px solid var(--Divider-Normal);
            box-sizing: border-box;
        }

        .doclist-btn button {
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
        }

        .doc-head-name {
            font-size: 1.33333rem;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }

    .doc-head-logo {
        cursor: pointer;
    }

    .doc-head-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: var(--space-s);
        flex: 1 0 0;
        align-self: stretch;
    }

        .doc-head-editorinfo {
            display: flex;
            align-items: center;
            gap: var(--space-xxxs);
        }

            .avatar-group {
                display: flex;
                align-items: center;
            }

            .avatar-group-list {
                margin-left: -12px; 
            }

            .doc-head-editorinfo button {
                font-size: 0.8rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 0 var(--space-xs);
            }

            .doc-head-btns {
                flex-shrink: 0;
            }


.doc-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

    .doc-catalog {
        display: flex;
        width: 240px;
        padding: var(--space-xllll) 0px 0px var(--space-m);
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-xll);
        overflow: scroll;
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
    }

    .page-center {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex: 1 0 0;
        align-self: stretch;
        overflow: scroll;
        box-sizing: border-box;
        padding: var(--space-xllll) 264px;
    }

        .article-content {
            display: flex;
            max-width: 1072px;
            flex-direction: column;
            align-items: flex-start;
            gap: var(--space-xs);
            align-self: stretch
            box-sizing: border-box;
        }

        .linked-heading {
            color: var(--General-Primary-Colors-Normal);
        }

        .article-content h1,h2,h3,h4,h5,h6,p {
            color: var(--General-Normal);
        }

    .anchor-points {
        display: flex;
        width: 240px;
        height: 100%;
        padding: var(--space-xllll) var(--space-m) 0px 0px;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--space-xs);
        align-self: stretch;
        overflow: scroll;
        position: absolute;
        right: 0;
        top: 0;
        box-sizing: border-box;
    }

        .anchor-points-title {
            display: flex;
            padding-left: 16px;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
        }

            .anchor-points-title span {
                display: flex;
                padding-bottom: 12px;
                align-items: flex-start;
                align-self: stretch;
                border-bottom: 1px solid var(--Divider-Normal);

                color: var(--General-Kind-Tips);

                font-size: 0.93333rem;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

    .anchor-points::-webkit-scrollbar, .doc-catalog::-webkit-scrollbar {
        display: none;
    }